*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
.container{
min-height: 100vh;
max-width: auto;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
gap:30px;

}
.container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.budget-container{
min-height: 10vh;
width: 60vw;
background-color: rgb(9, 255, 0);
text-align: center;
padding-top: 18px;
border-radius: 30px;
}

.remaining-container-yellow{
  min-height: 10vh;
width: 60vw;
background-color: rgb(251, 255, 0);
text-align: center;
padding-top: 18px;
border-radius: 30px;
}
.remaining-container-red{
  min-height: 10vh;
width: 60vw;
background-color: rgb(255, 94, 0);
text-align: center;
padding-top: 18px;
border-radius: 30px;
}
.spent-container{
  min-height: 10vh;
  width: 60vw;
  background-color: rgb(247, 30, 1);
  text-align: center;
  padding-top: 18px;
  border-radius: 30px;
}
.heading{
  font-size: 2rem;
}
.spent{
  font-weight: bold;
  font-size: large;
 
}
.Remaining{
  font-weight: bold;
  font-size: large;
 
}
.budget{
  font-weight: bold;
  font-size: large;
 
}
h3{
  font-size: x-large;
}
.list-group{
  display: flex;
  justify-content: space-around;
  align-items: center;
 padding-bottom: 10px;
 min-height: 10vh;
 width: 60vw;
border: 1px solid black;
}
.cost-decoration{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.costiconcontainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  width: auto;
  
}
.icon{
  min-height: 2vh;
  width:auto
  
}
.cost-decoration{
  height: 5vh;
  width: auto;
  border: 1px solid black;
  border-radius: 30px;
  background-color: rgb(18, 6, 177);
  color: rgb(22, 231, 221);
  padding: 7px;
}
h1{
  text-align: center;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:20px;
}
button{
  height:30px;
  width: auto;
  color: #fff;
  background-color: rgb(18, 6, 177);
  border-radius: 10px;
}
button:hover{
  background-color:#ffff;
  color: red;
}
label{
  font-weight: bold;
  font-size: larger;
}

input:focus{
  outline: none;
}